*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
}
h1{
    text-align: center;
    
}
h2{
    margin: 10px;
}
#block a{
    display: block;
    background-color:  aqua;
    color: whitesmoke;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;

}
#inline a{
    display: inline;
    background-color: green;
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
#inline-block a{
    display: inline-block;
    background-color: purple;
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
#Float a{
    float: left;
    background-color: orange;
    color: aliceblue;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}