.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}
.wrapper{
    border:2px solid #f76707;
    border-radius: 5px;
    background-color: #fff4e6;

}
.wrapper > div{
    border: 2px solid #ffa94d;
    border-radius: 5px;
    background-color: #ffe8cc;
    color: #d9480f;

}